{% extends 'catalog/base.html'%}
{% load tegs %}
{% block content %}
<section class="py-5 text-center container">
    <h1 class="fw-light">домашня страница</h1>
</section>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for object in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center button">
                        <div class="card-text">
                            <a class="card-text" type="submit"
                                href="/products/product/{{ object.pk }}">{{object|title}}</a>
                            <p class="lead"> {{ object.description | slice:100 }} </p>
                            <img src="{% media_path object.picture %}" width="100" />
                            {% for form in formset %}
                                {% if form.product == object and form.is_published == True %}
                                    <h6 class="text-success">{{ form.version_name }} {{form.version_number}}</h6>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}